@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,529;1,529&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


*{
  font-family: "Raleway", sans-serif;
  font-style: normal;
}
.raleway-font {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
}



.engo-arrow-to-console {
  @apply -scale-x-100;
  -webkit-transform: scaleX(-1);
}

